[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
isort = "*"
yapf = "*"
coveralls = "*"
sphinx-rtd-theme = "*"

[packages]
pyflipdot = {path = ".", editable = true}

[requires]
python_version = "3.7"
